*.pyc


# PyCharm Prj Files
misc.xml
modules.xml
*.iml
vcs.xml
workspace.xml
*.ipynb

# C build file
*.dll
*.manifest
*.exp
*.iobj
*.ipdb
*.pdb
*.lib
*.obj

# vs code file
settings.json