*.pyc
*.log

# PyCharm Prj Files
misc.xml
modules.xml
*.iml
vcs.xml
workspace.xml
*.ipynb

# C build file
*.dll
*.manifest
*.exp
*.iobj
*.ipdb
*.idb
*.pdb
*.lib
*.obj
*.exe

# vs code file
settings.json
launch.json
*.tlog
*.lastbuildstate

# visual studio files
*.filters
*.vcxproj
*.sln
*.suo
*.enc
*.db
*.ilk

# ctags file
tags


